body {
    width: 970px;
    background-color: #1b4b83;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
}
    #header {
        background-color: red;
        vertical-align: top;
        border: 2px solid red;
        border-radius: 8px;
        margin: 10px;
    }
        #header h1 {
            color: #a1d2e9;
            text-align: left;
            padding-left: 10px;
        }
    #menu {
        background-color: rgb(37, 142, 150);
        width: auto;
        border-radius: 10px;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }
    ul {
        color: white;
        margin: 0;
    }
        #menu a{
            color: rgb(66, 223, 215); 

        }
    #body {
        width: 720px;
        background-color: rgb(15, 15, 19);
        color: rgb(212, 231, 229);
        width: auto;
        display: inline-block;
        border-radius: 20px;
        border: 10px;
        padding: 20px;
        text-align: left;
        margin-top: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }
        #body a {
            color: rgb(66, 223, 215);    
        }
        #body a.script {
            color: rgb(74, 92, 196);
        }
    #footer {
        background-color: rgb(94, 90, 99);
        vertical-align: top;
        border-radius: 25px;
        margin-top: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 5px;
    }
        #footer h5 {
            color: rgb(212, 231, 229);
            text-align: left;
            padding-left: 10px;
        }
        #footer a {
            color: rgb(66, 223, 215); 